@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.petrona {
  font-family: "Petrona", serif;
}

.marcellus {
  font-family: "Marcellus", serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important; /* Sets the background to white */
  box-shadow: 0 0 0px 1000px white inset !important; /* Ensures consistency across browsers */
  color: inherit !important; /* Keeps original text color */
}

/* /* Targeting the placeholder text */
input::placeholder {
  color: lightgreen; 
  opacity: 1; 
}

/* Additional support for older browsers */
input::-webkit-input-placeholder {
  color: lightgreen;
}

input:-ms-input-placeholder {
  color: lightgreen;
}



