.videoBackground {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust the height as needed */
    overflow: hidden;
  }
  
  .video {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.9;
  }
  

  .videooverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Adjust opacity as needed */
    z-index: 0;
  }
  .content {
    user-select: none;
    position: absolute;
    top: 20%;
    left: 0;
    margin: 80px 100px;
    padding: 20px;
    z-index: 2;
    background: #FFFFFFBA
  }
  
   

  